/*header*/
.header{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.85);
    z-index: 100;
    width: 100%;
    padding: 0 40px;
    border-bottom: 1px solid #eee;
}
.header h1.logo{
    display: inline-block;
    float: left;
}
.header h1.logo a{
    display: block;
    padding: 8px 0 ;
}
.header h1.logo .img_logo{
    height: 65px;
    width: auto;
}
.header .gnb{
    display: block;
    overflow: visible;
    height: 100%;
    float: right;
}
.header .gnb li {
    float: left;
    display: inline-block;
    margin-left: 20px;
    height: 100%;
}
.header .gnb li .link{
    color: #333;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    position: relative;
}
.header .gnb li .link:hover{
    color: #000;
}
.header .gnb li .link .text{
    font-size: 12px;
    text-transform: uppercase;
}
.header .gnb li .link.active{
    font-weight: bold;
    position: relative;
}
.header .gnb li .link.active:before{
    content:'';
    background:red;
    width:100%;
    height: 2px;
    display:block;
    position:absolute;
    bottom: 0px;
    left:0;
}

.header .gnb li .link:hover:before{
    content:'';
    background:red;
    width:100%;
    height: 2px;
    display:block;
    position:absolute;
    bottom: 0px;
    left:0;
}


/*footer*/
.footer{
    width: 1080px;
    display: block;
    overflow: auto;
    height: auto;
    margin: 0 auto;
}
.footer .footer_logo{
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}
.footer .footer_logo .img_logo{
    width:100px;
    display: block;
}

.footer .footer_contact{
    float: left;
    display: inline-block;
    margin-left: 200px;
}
.footer .footer_contact a{
    font-size: 11px;
    display: block;
    margin-bottom: 10px;
    color: #666;
    text-decoration: underline;
}
.footer .footer_info{
    float: right;
}
.footer .footer_info .major_info{
    overflow: auto;
}
.footer .footer_info .major_info li{
    margin-bottom: 10px;
    font-size: 12px;
}
.footer .footer_info .major_info .label{
    display: inline-block;
    min-width: 100px;
}
.footer .footer_info .major_info .text{
    display: inline-block;
}
.footer .footer_info .major_info.company_info .label{
    font-weight: bold;
}
.footer .footer_info .copyright{
    font-size: 12px;
    color: #888;
    font-weight: normal;
    margin-top: 10px;
}



/*common layout*/
.section{
    padding: 100px 0;
    border-bottom:1px solid #eee;
}
.section .section_title{
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    color: #444;
    text-transform: uppercase;
}
.section .section_center{
    width:1100px;
    text-align: center;
    margin:0 auto;
}
