.section_about{
    display: block;
    width: 100%;
    text-align: center;
}
.section_about img{
    display: block;
    margin: 0 auto;
}

.section_about .logo_img{
    display: block;
    height: 170px;
    margin: 0 auto;
}

.section_about strong{
    display: block;
    width: 100%;
    font-size: 23px;
    text-align: center;
    color: #555;
    font-weight: 200;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px 0;
}

.section_about span{
    text-align: center;
    font-size: 13px;
    display: block;
    margin-bottom: 40px;
}
.section_about p{
    display: block;
    text-align: center;
    padding: 20px 0;
    padding-bottom: 150px;
    margin: 0 auto;
    color: #555;
    line-height: 30px;
    font-size: 13px;
}
.section_about img.photo {
    width: 100%;
}

@media (max-width: 1000px) {
    .section_about{}
    .section_about img{
        width: 110px;
        height:auto !important;
        padding-bottom: 20px;
        display: block;
    }
    .section_about img.photo {
        width: 100%;
    }
    .section_about strong{
        margin: 0;
        padding: 10px 0;
        font-size: 16px;
    }
    .section_about span{
        font-size: 14px;
        margin: 4px;
    }
    .section_about p{
        width: 100%;
        text-align: center;
    }
}