.section_contact{
    padding-top: 50px;
    border-bottom: 0;

}
.section_contact .section_title{
    margin-bottom: 40px;
}
.section_contact .form{
    width: 100%;
    display: block;
    overflow: auto;
    border-top: 1px solid #ddd;
    padding-top: 40px;
}
.section_contact .form .img_area{
    width: 50%;
    display: inline-block;
    float: left;
    vertical-align: top;
    padding-right: 40px;
}
.section_contact .form .img_area img{
    width: 100%;
}
.section_contact .form .form_area{
    width: 50%;
    display: inline-block;
    float: left;
    vertical-align: top;
}
.section_contact .form .form_area .form-group{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.section_contact .form .form_area .form-group .control-label{
    display: block;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
}
.section_contact .form .form_area .form-group .form-control{
    border: 1px solid #d7d7d7;
    width: 100%;
    line-height: 30px;
    color: #000;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 12px;
    padding: 4px 10px;
    max-height: 150px;
    overflow-y: auto;
    text-align: left;
}
.section_contact .form .form_area .form-group .checkbox{
    display: block;
    text-align: left;
    padding: 20px 0;
}
.section_contact .form .form_area .form-group .checkbox span{
    vertical-align: top;
    line-height: 1;
    margin-top: 2px;
    font-size: 13px;
    display: inline-block;
}
.section_contact .form .form_area .form-group .btn-submit{
    display: block;
    width: 100%;
    background: #f5333f;
    padding: 13px 0;
    color: #fff;
}
.section_contact .form .form_area .form-group.privacy .form-control{
    line-height: 18px;
}


@media (max-width: 1000px) {
    .section_contact{
        width:100%;
        display: block;
        margin-bottom: 100px;
    }
    .section_contact .form{
        margin-bottom: 0;
        padding-top: 0;
    }
    .section_contact .form .img_area{
        width:100%;
        display: block;
        float: none;
        padding: 0;
        margin-bottom: 40px;
    }
    .section_contact .form .img_area img{
        height: 300px;
        width: auto;
    }
    .section_contact .form .form_area{
        width:100%;
        display: block;
        float: none;
    }


}
