@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: local('Lato-Light'),
    url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.eot');
    src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Black.woff2') format('woff2'),
    url('../fonts/Lato-Black.woff') format('woff'),
    url('../fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


/* dancing-script-regular - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dancing-script-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/dancing-script-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/dancing-script-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/dancing-script-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/dancing-script-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/dancing-script-v13-latin-regular.svg#DancingScript') format('svg'); /* Legacy iOS */
}
/* dancing-script-500 - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/dancing-script-v13-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/dancing-script-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/dancing-script-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/dancing-script-v13-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/dancing-script-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/dancing-script-v13-latin-500.svg#DancingScript') format('svg'); /* Legacy iOS */
}
/* dancing-script-600 - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/dancing-script-v13-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/dancing-script-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/dancing-script-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/dancing-script-v13-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/dancing-script-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/dancing-script-v13-latin-600.svg#DancingScript') format('svg'); /* Legacy iOS */
}
/* dancing-script-700 - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dancing-script-v13-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/dancing-script-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/dancing-script-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/dancing-script-v13-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/dancing-script-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/dancing-script-v13-latin-700.svg#DancingScript') format('svg'); /* Legacy iOS */
}
/* Cafe24 Font*/  
@font-face {
  font-family: 'cafe24';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Cafe24Dangdanghae.ttf');
}